<div class="add__user">
    <div class="crime__fichier">
        <div class="crime__fichier__title">
            Ajouter une crime.
        </div>
        <div class="crime__fichier__header__one">

            <div class="crime__fichier__header">
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="name">Numero</label>
                        <input type="text" disabled name="numero" class="form-control" value="{{crime.numero}}">
                    </div>
                </div>
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="Categorie">Categorie</label>
                        <input [(ngModel)]="crime.typeCrime" type="text" name="Categorie" class="form-control" placeholder="Type Crime" aria-describedby="helpId">
                    </div>
                </div>
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="lieu">Lieu</label>
                        <input [(ngModel)]="crime.lieu" type="text" name="lieu" class="form-control" placeholder="Type Crime" aria-describedby="helpId">
                    </div>
                </div>
            </div>
            <div class="form-group mx-3">
                <label for="descriptionFichier">Description Fichier</label>
                <textarea [(ngModel)]="crime.descriptionFichier" name="descriptionFichier" class="form-control"></textarea>
            </div>
            <div class="crime__fichier__header">
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="name">Criminels :</label>
                        <input (keyup)="searchCriminal()" [(ngModel)]="search" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par CIN">
                        <select [(ngModel)]="crime.listCriminales" class="form-control" multiple>
                            <option *ngFor="let row of searchCriminals" value="{{row.id}}">CIN :{{ row.cin }} |Nom Prenom :{{ row.nom }} {{ row.prenom }} | Ville :{{ row.ville }}</option>
                        </select>
                    </div>
                </div>
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="name">Victimes :</label>
                        <input (keyup)="searchCriminal()" [(ngModel)]="search" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par CIN">
                        <select [(ngModel)]="crime.listVictimes" class="form-control" multiple>
                            <option *ngFor="let row of searchVictimes" value="{{row.id}}">CIN :{{ row.cin }} |Nom Prenom :{{ row.nom }} {{ row.prenom }} | Ville :{{ row.ville }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="email">Duree</label>
                <input [(ngModel)]="criminals.typeCrime" type="text" name="typeCrime" class="form-control" placeholder="Type Crime" aria-describedby="helpId">
                
            </div>
            <div class="form-group">
                <label for="password">Description Fichier</label>
                <input [(ngModel)]="criminals.descriptionFichier" type="text" name="descriptionFichier" class="form-control" placeholder="Description Fichier" aria-describedby="helpId">
                <textarea name="descriptionFichier" class="form-control"></textarea>
            </div> -->
            
        </div>
        <!-- <div class="crime__fichier__header">
            
            <div class="crime__fichier__header__two">
                <div class="user__all">
                    <div class="user__all__header">
                        <h3>Les criminaels</h3>
                        <div class="user__all__header__search">
                            <input (keyup)="searchCriminal()" [(ngModel)]="search" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par email">
                        </div>
                        <a class="btn-sm btn btn-secondary"  routerLink="/criminal/add">Ajouter</a>
                    </div>
                    <div class="user__all__body tableCrim">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CIN</th>
                                    <th>Non Prenom</th>
                                    <th>Ville</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let row of searchCriminals">
                                    <td>{{ row.cin }}</td>
                                    <td>{{ row.nom }} {{ row.prenom }}</td>
                                    <td>{{ row.ville }}</td>
                                    <td *ngFor="let item of crime.listCriminales">
                                        
                                        <input *ngIf="item != row.id" class="btn btn-danger btn-sm" type="button" value="Select" (click)="select(row.id)"/>
                                    </td>
                                    <td *ngFor="let item of crime.listCriminales">
                                        
                                        <input *ngIf="item == row.id" class="btn btn-info btn-sm" type="button" value="Selected" (click)="selected(row.id)"/>
                                    </td>
                                    <td *ngIf="crime.listCriminales.length <= 0">
                                        <input class="btn btn-danger btn-sm" type="button" value="Select" (click)="select(row.id)"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="crime__fichier__header__two">
                <div class="user__all">
                    <div class="user__all__header">
                        <h3>Les victimes</h3>
                        <div class="user__all__header__search">
                            <input (keyup)="searchVictime()" [(ngModel)]="searchV" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par email">
                            
                        </div>
                        <a class="btn-sm btn btn-secondary"  routerLink="/victime/add">Ajouter</a>
                    </div>
                    <div class="user__all__body tableCrim">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>CIN</th>
                                    <th>Non Prenom</th>
                                    <th>Ville</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of searchVictimes">
                                    <td>{{ row.cin }}</td>
                                    <td>{{ row.nom }} {{ row.prenom }}</td>
                                    <td>{{ row.ville }}</td>
                                    <td>
                                        <input class="btn btn-info btn-sm" type="checkbox" name="row.id[]">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="crime__fichier__header__footer">
            <button type="button" class="btn btn-secondary" (click)="addCrime()" >Ajouter</button>
        </div>
    </div>
</div>

