<!-- info Of User -->
<div class="info">
    <div class="info__table">
        <div class="info__table__header">
            Les informations
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>CIN</th>
                    <td><span class="point">:</span>{{criminal.cin}}</td>
                </tr>
                <tr>
                    <th>Nom et Prenom</th>
                    <td><span class="point">:</span>{{criminal.nom}} {{criminal.prenom}}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td><span class="point">:</span>{{criminal.ville}}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td><span class="point">:</span>{{criminal.addresse}}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td><span class="point">:</span>{{criminal.tel}}</td>
                </tr>
                <tr>
                    <th>Sexe</th>
                    <td><span class="point">:</span> {{criminal.sexe}}</td>
                </tr>
                <tr>
                    <th>Sexe</th>
                    <td><span class="point">:</span> {{criminal.dateNaissance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>