<div class="user">
    <div class="user__all">
        <div class="user__all__header">
            <h3>Les utilisateurs</h3>
            <div class="user__all__header__search">
                <input (keyup)="searchUsers()" [(ngModel)]="search" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par email">
                <!-- <button  class="user__all__header__search__btn">Recherche</button> -->
            </div>
            <a class="btn-sm btn btn-secondary"  routerLink="/users/add">Ajouter</a>
        </div>
        <div class="user__all__body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Email</th>
                        <th>Ville</th>
                        <th>Telephone</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersSearch">
                        <td>{{ user.nom }}</td>
                        <td>{{ user.adresse }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.ville }}</td>
                        <td>{{ user.tel }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a class="btn btn-sm btn-info" routerLink="/users/show/{{user.id}}" >Afficher</a>
                            <a class="btn btn-sm btn-primary mx-1" routerLink="/users/edit/{{user.id}}" >Modifier</a>
                            <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
