<div class="user">
    <div class="user__all">
        <div class="user__all__header">
            <h3>Les utilisateurs</h3>
            <div class="user__all__header__search">
                <input (keyup)="searchCrime()" [(ngModel)]="search" class="user__all__header__search__input" type="text" name="search" placeholder="Recherche par email">
                <!-- <button  class="user__all__header__search__btn">Recherche</button> -->
            </div>
            <a class="btn-sm btn btn-secondary"  routerLink="/crime/add">Ajouter</a>
        </div>
        <div class="user__all__body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Type Crime</th>
                        <th>Lieu</th>
                        <th>Tribunal</th>
                        <th>Date Creation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let crime of searchCrimes">
                        <td>{{ crime.numero }}</td>
                        <td>{{ crime.typeCrime }}</td>
                        <td>{{ crime.lieu }}</td>
                        <td><a routerLink="/users/show/{{ crime.user.id }}">{{ crime.user.ville }}</a></td>
                        <td>{{ crime.created_at | date }}</td>
                        <td>
                            <a class="btn btn-sm btn-info" routerLink="/crime/show/{{ crime.id }}" >Afficher</a>
                            <a class="btn btn-sm btn-primary mx-1" routerLink="/crime/edit/{{ crime.id }}" >Modifier</a>
                            <button class="btn btn-sm btn-danger" (click)="delete(crime.id)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
