<div class="crime">
    <form class="crime__fichier" action="">
        <div class="crime__fichier">
            <div class="crime__fichier__title">
                La fiche des crimes
            </div>
            <div class="crime__fichier__header">
                <div class="crime__fichier__header__one">
                    <div class="form-group">
                        <label for="titre">Titre</label>
                        <input type="text" name="titre" id="" class="form-control" placeholder="titre" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="typeCrime">Type de Crime</label>
                        <input type="text" name="typeCrime" id="" class="form-control" placeholder="Type de Crime" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="">Description de la fiche</label>
                        <textarea name="descriptionFichier" class="form-control" cols="30" rows="5"></textarea>
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                
            </div>
            <div class="crime__fichier__title">
                <p>Ajouter les crimes</p>
                <button>Ajouter un criminal</button>
            </div>
            <div class="crime__fichier__header">
                <div class="crime__fichier__header__one">
                    <div class="form-group">
                        <img class="crime__fichier__header__image" src="" alt="Image">
                    </div>
                    <div class="form-group">
                        <input type="file" name="photo" class="form-control" placeholder="Photo" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                <div class="crime__fichier__header__one">
                    <div class="form-group">
                        <label for="name">CIN</label>
                        <input type="text" name="cin" class="form-control" placeholder="CIN" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="nomPrenom">Nom et Prenom</label>
                        <input type="text" name="nomPrenom" class="form-control" placeholder="Nom et Prenom" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="tel">Telephone</label>
                        <input type="text" name="tel" class="form-control" placeholder="Telephone" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville</label>
                        <input type="text" name="ville" class="form-control" placeholder="Ville" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
                <div class="crime__fichier__header__two">
                    <div class="form-group">
                        <label for="dateNaissance">Date Naissance</label>
                        <input type="date" name="dateNaissance" class="form-control" placeholder="Confirmer le mot de passe" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="durre">Durre</label>
                        <input type="text" name="durre" id="" class="form-control" placeholder="Durre" aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                        <label for="descriptionCiminal">Description de ciminal</label>
                        <textarea name="descriptionCiminal" class="form-control" cols="30" rows="5"></textarea>
                        <small id="helpId" class="text-muted">Help text</small>
                    </div>
                </div>
            </div>
            <div class="crime__fichier__title">
                <button class="btn btn-secondary" type="submit">Ajouter</button>
            </div>
        </div>
    </form>
</div>