<div class="home">
    <div class="home__row">
        <div class="home__row__item bg__one">
            <div class="home__row__item__image">
                <img src="../../../../assets/images/logos/Royal_Moroccan_Gendarmerie.png" alt="Logo">
            </div>
            <div class="home__row__item__body">
                <p><a href="#">Service GP</a></p>
                <p>{{ countGP }}</p>
            </div>
        </div>
        <div class="home__row__item bg__two">
            <div class="home__row__item__image">
                <img src="../../../../assets/images/logos/tribunale-png-8.png" alt="Logo">
            </div>
            <div class="home__row__item__body">
                <p><a href="#">Service Tribunale </a></p>
                <p>{{ countTribunal }}</p>
            </div>
        </div>
        <div class="home__row__item bg__one">
            <div class="home__row__item__image">
                <img src="../../../../assets/images/logos/criminal.png" alt="Logo">
            </div>
            <div class="home__row__item__body">
                <p><a href="#">Service Criminal</a></p>
                <p>{{countCriminal}}</p>
            </div>
        </div>
        <div class="home__row__item bg__two">
            <div class="home__row__item__image">
                <img src="../../../../assets/images/logos/users.png" alt="Logo">
            </div>
            <div class="home__row__item__body">
                <p><a routerLink="/users">Gestion Utilisateurs</a></p>
                <p>{{ countUsers }}</p>
            </div>
        </div>
    </div>

    <!-- info Of User -->
    <div class="info">
        <div class="info__table">
            <div class="info__table__header">
                Les informations
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td><span class="point">:</span>{{user.name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><span class="point">:</span>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td><span class="point">:</span>{{user.ville}}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td><span class="point">:</span>{{user.tel}}</td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td><span class="point">:</span> {{user.role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>