<!-- info Of User -->
<div class="info">
    <div class="info__table">
        <div class="info__table__header">
            Les informations
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Adresse</th>
                    <td><span class="point">:</span>{{user.adresse}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><span class="point">:</span>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td><span class="point">:</span>{{user.ville}}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td><span class="point">:</span>{{user.tel}}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td><span class="point">:</span> {{user.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>